@tailwind base;
@tailwind components;
@tailwind utilities;

.page {
    display: flex;
    width: 100%;
    height: 100%;
}

/*.coursebar {
    background-color: gray;
    display: flex;

    position: fixed;
    width: 12.5%;
    overflow-y: scroll;
    top: 0;
    bottom: 0;
    margin-left: 87.5%;
}

[href] {
    color: gray;
    background-color: #CDE1FF;
    padding: 5%;
    margin: 24%;
    font-size: 50%;
}

.week {
    background-color: #CDE1FF;
    position: fixed;
    width: 87.5%;
    top: 0;
    bottom: 0;
}

.day {
    background-color: antiquewhite;
    position: fixed;
    width: 12.5%;
    top: 0;
    bottom: 0;
}*/